$font-family: 'Raleway', sans-serif;
$main-color: rgba(0, 189, 157, 1.0);
$link-underline: linear-gradient(to bottom, rgba(124, 198, 254, 0) 85%, rgba(0, 189, 157, .5)70%);
@charset "utf-8";

// removes tap-flash
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: $font-family;
}

/* FADE IN CODE START~~~~~~~~~~~*/
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


.fade-in {
  animation: fadeIn 1.5s forwards ;
}


/* FADE IN CODE END ~~~~~~~~~~~~*/


a[href ^= "http"]:after {
  content: "🔗" url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);    
}

a[href ^= "https://github"]:after {
  content: " "
}

a[href ^= "mailto"] {
  cursor:pointer;
  background-color: none;
}

.nav-grid {
  display: flex;
  justify-content: space-between;
  max-width:30vw;
  flex-basis:end;
  text-decoration: none;
  list-style: none;
  align-items: center;
  margin-bottom: 1.75rem;
  font-size: 1.25rem;
  width: 80vw;
  min-width:17.5rem;
}

:not(.nav-grid) {
  a {
    text-decoration: none;
    background: $link-underline;
    border-radius: 3px;
  }
}

.nav-grid {
  a {
    text-decoration: none;
    color: black;
    font-size: 1.125rem;
    background: none;
  }
}


/*- - - - - Hidden Contact*/

  .footer-label{
    cursor:pointer;
  }

  .hidden-contact{
    opacity: 0;
    visibility: hidden;
    /* align-self: center; */
    -webkit-transition: opacity .5s, visibility 0s 0.5s;
    transition: opacity .5s, visibility 0s .5s;
    color: black;
    /* text-align: center; */
    z-index: 2;
    background-color: rgba(0, 0,0,0);
    line-height: 0px;
    margin:auto;
  }

  .hidden-contact>div>a{
    text-decoration: none;
    color: black;

  }

  #contact-show:checked~.hidden-contact{
    z-index: 100;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    /*color: white;*/

  }

  .footer-container {
    display: flex;
    position:aboslute;
    // justify-content: space;
    align-items: center;
    flex-direction: column;
    margin-top:12rem;
    margin-bottom:2rem;
    // background: repeating-linear-gradient(135deg, rgba(0, 189, 157, 0.02), rgba(0, 189, 157, 0.3) 1px, transparent 2px, transparent 4px);
    // height: 15rem;
  }

  .contact-me-container {
      display:flex;
      border-radius: 1px;
      // background-color: $main-color-light;
      background: repeating-linear-gradient(135deg, rgba(0, 189, 157, 0.01), rgba(0, 189, 157, 0.2) 1px, transparent 0.5px, transparent 6px);
      box-shadow: 4px 5.4px 0.1px 0.3px rgba(33, 37, 41, 0.85);
      justify-content: center;
      max-width: 44rem;
      margin:1rem;
    
  }

  .contact-head {
    font-size:2rem;
    margin-bottom:0rem;
  }

  .tldr-label {
    background-color: $main-color;
    padding:.5rem;
    text-align: center;
    align-content:center;
    // height:2rem;
    width: 2.5rem;
  }

  .contact-me-content {
    text-align:center;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size:1.3rem;
    margin:0;
    min-width:30%;
    // min-width: 85%;
    padding: 1rem;
    font-size:1.3rem;
  }

  .contact-me-content > .btn {
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }


  .footer-container p {
    margin:0.5rem;
  }

  .footer-container div>i {
    margin:0rem;
  }

.copy-to-clipboard {
  outline:none;
  // background-color: rgba(0, 189, 157, .5);
  // border-bottom: 4px solid black;
  text-align:center;
  cursor:pointer;
  // margin:auto;
  // transition:2s;
  opacity:.8;
}

.copy-to-clipboard::hover {
  outline:none;
  background-color: rgba(0, 189, 157, .5);
  border-bottom: 4px solid black;
  text-align:center;
  cursor:pointer;
  // margin:auto;
}

.copy-to-clipboard p:active {
  color: rgba(0, 189, 157, .5);
  text-decoration: underline;
}

// .copy-to-clipboard:active {
//   border-top: .3rem solid rgba(0, 189, 157, .5);
//   border-right: .7rem solid rgba(0, 189, 157, .5);
// }







