/*// articles.scss*/
$line-color: rgba(0, 189, 157, 1);


.nav-grid li:nth-child(3n) {
 background: linear-gradient(to bottom, rgba(0, 189, 157, .0
) 85%, rgba(0, 189, 157, .5
)70%);
  border-radius: 3px;
  // padding: 0.25rem;
  color: black;
  cursor: none;
  z-index: 2;
}


.article a {
  position: relative;
  margin-top: 0.9375rem;
  display: inline-block;
  outline: none;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03125rem;
  background:  none;
}

.articles-container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(21.25rem, 1fr));
  row-gap: 10%;
  /*grid-template-rows: repeat(auto-fit);*/
  margin-left: 1.5rem;
  margin-bottom: 5.75rem;
}

.article-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.875rem;
  letter-spacing: 0.122rem;
  margin-bottom: 0rem;

}

p {
  font-family:'Source Sans Pro', sans-serif;
  font-size: 1.125rem;
  margin-top: 0.75rem;
}



.cl-effect-6 a {
  margin: 0 0.625rem;
  padding: 0.625rem 1.25rem;
}

.cl-effect-6 a::before {
  position: absolute;
  top: 0;
  left: 0;
  width:0rem;
  height: 0.4375rem;
  background:  $line-color;
  content: '';

  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  transition: width 0.5s;
  transition-delay: .07s;

  transition-timing-function: ease-in-out;
}

.cl-effect-6 a::after {
  position: absolute;
  top: 0.1875rem;
  left: 0rem;
  width: 0.3125rem;
  height: 0px;
  background: $line-color;
  content: '';

  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  transition: height 0.5s;

  transition-timing-function: ease-in-out;
}


// only apply hover styles for devices using mouse
@media (hover:hover) {

  .article a:hover,
  .article a:focus {
    outline: none;
  }
  .cl-effect-6 a:hover::before {
    width: 0px;
    opacity: 1;

    transition-timing-function: ease-in-out;
  }

  .cl-effect-6 a:hover::after {
    transition-timing-function: ease-in-out;
    height: 90%;

  }

}
