 /*article.css*/
$main-color: rgba(0, 189, 157, 0.9);
$main-color-light: rgba(0, 189, 157, 0.3);
$font-family-head:'Raleway';
$font-family-body:'Lato';

.nav-grid li:nth-child(3n) {
 background: linear-gradient(to bottom, rgba(0, 189, 157, .0
) 85%, rgba(0, 189, 157, .5
)70%);
  border-radius: 3px;
  color: black;
  cursor: none;
  z-index: 2;
}

h1 {
  font-family: $font-family-head;
  line-height: 2rem;
  margin-bottom: .9rem;
  text-align:center;
}

ol {
  max-width: 33.5rem;
}

.tldr-container {
  display:flex;
  border-radius: 1px;
  // background-color: $main-color-light;
  background: repeating-linear-gradient(135deg, rgba(0, 189, 157, 0.01), rgba(0, 189, 157, 0.2) 1px, transparent 0.5px, transparent 6px);
  box-shadow: 4px 5.4px 0.1px 0.3px rgba(33, 37, 41, 0.85);
  // justify-content: center;
  max-width: 44rem;
  margin:1.5rem;
}

.tldr-label {
  background-color: $main-color;
  padding:.5rem;
  text-align: center;
  align-content:center;
  // height:2rem;
  width: 2.5rem;
}

.tldr {
  justify-content:center;
  font-size:1.3rem;
  margin:0;
  max-width: 85%;
  padding: 1rem;
}

.article {
  justify-content:center;
  margin-left: 1%;
  padding-left: 4%;
  padding-right: 5%;
  min-width: 330px;
  max-width: 60vw;
  line-height: 22px;
}

:not(pre) code {
  padding: 1px 3px 3px 3px;
  color: black;
  font-weight: normal;
  font-size:14px;

}

a {
  text-decoration: none;
  background: linear-gradient(to right, rgba(124, 198, 254, .2
), rgba(124, 198, 254, .6
));
  border-radius: 3px;
  color: black;
}

br {
  line-height: 2.25rem
}

p {
  font-size: 1.225rem;
  line-height: 1.7rem;
  font-family: 'Lato', sans-serif;
}

.container {
 padding-right: 10em;
 border-right: 2rem black solid ;
}


.subtitle {
  font-size: 1.5rem;
  // border-bottom: 3px solid;
  padding-bottom: 0.25rem;
  font-style: italic;
  margin-top: 0rem;
}

blockquote {
  border-left:0.5px grey solid;
  padding-left: 15px;
  max-width: 33.5rem;
}

blockquote p {
  font-weight: lighter;
}


h2 {

}


