$header-font-size: 4.875rem;
$link-underline-border-rad: 3px;
$nav-underline: linear-gradient(to bottom, rgba(0, 189, 157, .0
) 85%, rgba(0, 189, 157, .5
)70%);
$link-underline: linear-gradient(to bottom, rgba(124, 198, 254, .0) 75%, rgba(124, 198, 254, .7
)80%);


.nav-grid {
  display:none;
}

.underline {
  text-decoration: none;
  background: $link-underline;
  border-radius: $link-underline-border-rad;
  padding: 5px 5px 1px 5px;
  color: black;
  cursor: pointer;
}


header {
  display: flex;
  justify-content: center;
}

.welcome-container {
  // display: flex;
  // justify-content: center;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

li {
  list-style: inline-block;
}



.welcome-text {
  h3 {
    font-size: $header-font-size;
    // margin-top: 0.9rem;
    // margin-block-end:1rem;
    display:block;
    margin:auto;
  }
  p {
    line-height: 2.5rem;
    font-size: 2rem;
  }
  text-align: center;
  margin-left:5%;
  margin-right:5%;
  min-width:75%;
}


#footer {
  font-style: italic;
  font-size: 10px;
  text-align:center;
  position: relative;
  top:40vh;
}

#trigger {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
}

#hidden {
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
}

.hidden-contact + p {
  font-size: 1rem !important;
}

@media (min-width: 720px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(8rem, 45%));
    grid-gap:1rem;
    align-items: center;
  }
  .grid-item-one {
    place-self: center;
  }
  
  .grid-item-two {
    place-self: center;
  }
}

@media (max-width:719px) {
  .flex {
    display:flex;
    justify-content: center;
  }

  .grid {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    justify-content: center;

  }

  .grid-item-one {
    grid-row: 2;
    place-self: center;
  }

  .grid-item-two {
    place-self: center;
    grid-row: 1;
  }
}