$header-font-size: 2.875rem;
$link-underline-border-rad: 3px;
$nav-underline: linear-gradient(to bottom, rgba(0, 189, 157, .0
) 85%, rgba(0, 189, 157, .5
)70%);
$link-underline: linear-gradient(to bottom, rgba(124, 198, 254, .0) 75%, rgba(124, 198, 254, .7
)80%);


.nav-grid {
  li:nth-child(1) {
    background: $nav-underline;
    border-radius: $link-underline-border-rad;
    // padding: 4px;
    color: black;
    cursor: none;
    z-index: 2;
  }
}

.underline {
  text-decoration: none;
  background: $link-underline;
  border-radius: $link-underline-border-rad;
  padding: 5px 5px 1px 5px;
  color: black;
  cursor: pointer;
}

.welcome-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

ul {
  list-style: none;
}

li {
  list-style: inline-block;
}



.welcome-text {
  h3 {
    font-size: $header-font-size;
  }
  p {
    line-height: 2rem;
    font-size: 1.375rem;
  }
  text-align: center
}



#footer {
  font-style: italic;
  font-size: 10px;
  text-align:center;
  position: relative;
  top:40vh;
}

#trigger {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
}

#hidden {
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
}

.hidden-contact + p {
  font-size: 1rem !important;
}

