$neat-underline: linear-gradient(to bottom, rgba(0, 189, 157, .0) 85%, rgba(0, 189, 157, .5)70%);
$proj-box-shadow: 0.08rem 0.06rem 0.0rem 0.1rem;
$proj-box-border-rad: 0.5rem;

%card-effects {
  border-radius: $proj-box-border-rad;
  transition-duration: .5s;
}

%circ-proj-img {
  width:50%;
  height: auto;
  min-width: 7.5rem;
}

.nav-grid {
    li:nth-child(2n) {
      background: $neat-underline;
      border-radius: 3px;
      // padding: 0.25rem;
      color: black;
      cursor: none;
      z-index: 2;
    }
  }

.projects {
/* `````previous style````` */
/*   padding-left: 15px;
  padding-right: 30px;
  display:flex;
  flex-direction: column;
  max-width: 1020px; */

  display: grid;
  margin:auto;
  justify-content:center;
  grid-template-columns: repeat(auto-fill, minmax(21.25rem, .85fr));
  column-gap: 2%;


}

.project {
  display: grid;
  grid-template-rows: minmax(2.5rem, 3.125rem) 1fr max-content;
  row-gap: 0.625rem;
  padding:  1.25rem 1.25rem 1.25rem 1.25rem;
  margin-bottom: 2.25rem;
}

.mid-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.sticker-img {
  @extend %circ-proj-img
}

.journey-img {
  @extend %circ-proj-img
}

.wagon-img {
  @extend %circ-proj-img
}

.volunteer-us-img {
  height: auto;
  width: 75%;
}

.mid-row .skill-list {
 margin-left: 0.625rem;
}

@media (hover:hover) {
  %card-hover {
    transition-duration: .5;
    transform: translate(6px,-4px);
    transition-timing-function: ease-in-out;
  }

  .shadow-sticker:hover {
    @extend %card-hover
  }

  .shadow-journey:hover {
    @extend %card-hover
  }

  .shadow-wagon:hover {
    @extend %card-hover
  }

  .shadow-volunteer:hover {
    @extend %card-hover
  }
}

.shadow-sticker {
  box-shadow: $proj-box-shadow rgba(144, 19, 254, .7);
  @extend %card-effects
}

.shadow-journey {
  box-shadow: $proj-box-shadow rgba(255, 197, 61,.7);
  @extend %card-effects
}

.shadow-wagon {
  box-shadow: $proj-box-shadow rgba(194, 47, 47, .7);
  @extend %card-effects
}

.shadow-volunteer {
  box-shadow: $proj-box-shadow rgba(82, 190, 85, .7);
  @extend %card-effects
}

h3 {

  z-index:1;
  // background:none;
  max-height: 6.25rem;
  padding-bottom: 1.25rem;
}

.project-title {
  display:flex;
  align-items:center;
  font-size: 1.75rem;
  text-align: center;
  grid-column: 1/ -1;
  grid-row: 1;
  justify-content:center;

}

.project-description {
  grid-row: 3;
  grid-column: 1 / -1;
  text-align:center;
  font-family:'Source Sans Pro', sans-serif;
  font-size: 1.125rem;
}

.skill-list ul{
  list-style: none;
  border-left: 2px dotted black;
}

.skill-list ul li {
  font-weight: bolder;
  margin-left: -1.5625rem;
  line-height: 1.25rem;

}
