$neat-underline: linear-gradient(to bottom, rgba(0, 189, 157, .0) 85%, rgba(0, 189, 157, .5)70%);
$main-color: #02947b;
$main-color-light: rgba(0, 189, 157, 0.1);
$main-color-gradient: linear-gradient(220deg, rgba(0, 189, 157, .4), rgba(0, 189, 157, .7));

$proj-box-shadow: 0.08rem 0.06rem 0.0rem 0.1rem;
$proj-box-border-rad: 0.4rem;
$proj-box-border-color: rgba(0, 189, 157, .5);

$sticker-head: linear-gradient(190deg, rgba(243, 243, 72, 0.1), rgba(239, 14, 222, .2)), url("../images/sticker_2.png");
$journey-head: linear-gradient(10deg, rgba(88, 169, 30, 0.1), rgba(88, 169, 30, 0.2)), url("../images/journey_3.png");
$wagon-head: linear-gradient(10deg, rgba(222, 62, 55, 0.13), rgba(222, 62, 55, 0.15)), url("../images/lewagon-head.webp");
$volunteerus-head: linear-gradient(30deg, rgba(82, 222, 55, 0.15), rgba(82, 222, 55, 0.15)), url("../images/handsin.jpg");

%card-effects {
  border-radius: $proj-box-border-rad;
  transition-duration: .5s;
}

%circ-proj-img {
  width:50%;
  height: auto;
  min-width: 7.5rem;
}

.nav-grid {
    li:nth-child(2n) {
      background: $neat-underline;
      border-radius: 3px;
      // padding: 0.25rem;
      color: black;
      cursor: none;
      z-index: 2;
    }
  }

.projects {
  display: grid;
  padding-left: 2rem;
  padding-right: 2rem;
  margin:auto;
  justify-content:center;
  grid-template-columns: minmax(23rem, .5fr);
  // grid-template-rows: auto-fit;
  column-gap: 2%;

}

.expand-button {
  background: $main-color-gradient;
  display:flex;
  font-weight: bold;
  justify-content:center;
  align-content:center;
  align-items: center;
  width: 100%;
  height: 30px;
  border-radius: 0px 0px 3px 0px;
  margin:auto;
}

.bg {
  background: $main-color-gradient;
  // opacity: 0;
  z-index: 2;
}

.project {
  // display: grid;
  // grid-template-rows: minmax(2.5rem, 3.125rem) 1fr max-content;
  // row-gap: 0.625rem;
  // padding:  1.25rem 1.25rem 1.25rem 1.25rem;
  margin-bottom: 2.25rem;
  transition-duration: 0.5s;
}

.card-head {
  // background-color: $main-color-gradient;
  border-radius: 3px 3px 0px 0px;
  background-position: center;
  height: 18rem;
  width: auto;
  // opacity:1;
}

#sticker-head {
  background-image: $sticker-head;
  background-size: cover;
  // -webkit-clip-path: polygon(0 0%, 100% 6%, 100% 100%, 0% 100%)
}

#journey-head {
  background-image: $journey-head;
  background-size: auto;
  background-repeat: no-repeat;

  // background-clip:;
  // max-width:inherit;
  // background-repeat: no-repeat;
  // -webkit-clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 100%)
}

#wagon-head {
  background-image: $wagon-head;
  background-size: cover;
  // -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%)
}

#volunteerus-head {
  background-image: $volunteerus-head;
  background-size: cover;
  // -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%)
}



.journey-img {
  @extend %circ-proj-img
}

.wagon-img {
  @extend %circ-proj-img
}

.volunteer-us-img {
  height: auto;
  width: 75%;
}

.section{
  display: flex;
  border-top:1rem $main-color-light;
  border-bottom:1rem $main-color-light;
  margin-bottom: 1rem;
  align-items: center;
}

.section-title{
  padding-left: .2rem;
  max-width:3rem;
  justify-content:center;
  // padding-right: .5rem;
  // background:linear-gradient(to left, rgba(0, 189, 157, 1), rgba(0, 189, 157, 1));
  font-weight: 600;
}

.section-details {
  margin-left: 1rem;
  margin-right: .3rem;
}

.skill-list {
 margin-left: 0.625rem;
}

@media (hover:hover) {
  %card-hover {
    transition-duration: .1;
    transform: translate(0px,-18px);
    box-shadow: 0px 7px 0px 0px $main-color;
    border-radius: $proj-box-border-rad;
    // transition-timing-function: ease-in-out;
  }

  .project:hover {
    @extend %card-hover;
  }
}

h3 {
  z-index:1;
  padding-top: 0rem;
  color: white;
  text-shadow: 1px 1px 2px grey;
}

.proj-icon {
  height:2rem;
  width:2rem;
  text-shadow: 1px 1px 2px grey
}

.project-title {
  display:flex;
  align-items:center;
  font-size: 1.75rem;
  display:flex;
  align-content: center;
  // align-items: center;
  padding: 0rem;
  // margin: 0rem;
  justify-content:center;
  margin-block-start: .1rem;

}

.card-title{
  margin:.5rem;
}

.project-description {
  grid-row: 3;
  grid-column: 1 / -1;
  text-align:center;
  font-family:'Source Sans Pro', sans-serif;
  font-size: 1.125rem;
  transition: display;
  transition-duration: 0.5s;
  background: $main-color-light;
  background-size: 100%;
  height:100%;
  // border-left: solid 4px $main-color;
  // border-right: solid 4px $main-color;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1.5s ease-in;
  -webkit-transition: max-height .5s;
}

.uncollapse {
  max-height: 20rem;
  transition: max-height 1.5s ease-in-out;
}
