* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent; }

body {
  font-family: "Raleway"; }

/* FADE IN CODE START~~~~~~~~~~~*/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fade-in {
  animation: fadeIn 1.5s forwards; }

/* FADE IN CODE END ~~~~~~~~~~~~*/
a[href^="http"]:after {
  content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=); }

.nav-grid {
  display: flex;
  justify-content: space-between;
  max-width: 30vw;
  flex-basis: end;
  text-decoration: none;
  list-style: none;
  align-items: center;
  margin-bottom: 1.75rem;
  font-size: 1.25rem;
  width: 80vw;
  min-width: 17.5rem; }

:not(.nav-grid) a {
  text-decoration: none;
  background: linear-gradient(to bottom, rgba(124, 198, 254, 0) 75%, rgba(0, 189, 157, 0.5) 80%);
  border-radius: 3px; }

.nav-grid a {
  text-decoration: none;
  color: black;
  font-size: 1.125rem;
  background: none; }

/*- - - - - Hidden Contact*/
.footer-label {
  cursor: pointer; }

.hidden-contact {
  opacity: 0;
  visibility: hidden;
  /* align-self: center; */
  -webkit-transition: opacity .5s, visibility 0s 0.5s;
  transition: opacity .5s, visibility 0s .5s;
  color: black;
  /* text-align: center; */
  z-index: 2;
  background-color: transparent;
  line-height: 0px;
  margin: auto; }

.hidden-contact > div > a {
  text-decoration: none;
  color: black; }

#contact-show:checked ~ .hidden-contact {
  z-index: 100;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  /*color: white;*/ }

#footer-contact-button {
  padding: 1.7rem 1.7rem;
  color: white;
  background-color: rgba(0, 189, 157, 0.8);
  border-radius: 1rem;
  transition: ease 2s;
  /* align-self: flex-end; */
  text-align: center; }

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.copy-to-clipboard {
  outline: none;
  text-align: center;
  cursor: pointer;
  margin: auto;
  padding-right: .6rem;
  transition: 2s;
  opacity: .8; }

.copy-to-clipboard::hover {
  outline: none;
  background-color: rgba(0, 189, 157, 0.5);
  border-bottom: 4px solid black;
  text-align: center;
  cursor: pointer;
  margin: auto; }

.copy-to-clipboard p:active {
  color: rgba(0, 189, 157, 0.5);
  text-decoration: underline; }
