.nav-grid {
  display: none; }

.underline {
  text-decoration: none;
  background: linear-gradient(to bottom, rgba(124, 198, 254, 0) 75%, rgba(124, 198, 254, 0.7) 80%);
  border-radius: 3px;
  padding: 5px 5px 1px 5px;
  color: black;
  cursor: pointer; }

header {
  display: flex;
  justify-content: center; }

.welcome-container {
  margin-bottom: 2rem; }

ul {
  list-style: none; }

li {
  list-style: inline-block; }

.welcome-text {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  min-width: 75%; }
  .welcome-text h3 {
    font-size: 4.875rem;
    display: block;
    margin: auto; }
  .welcome-text p {
    line-height: 2.5rem;
    font-size: 2rem; }

#footer {
  font-style: italic;
  font-size: 10px;
  text-align: center;
  position: relative;
  top: 40vh; }

#trigger {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
  text-align: center; }

#hidden {
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%; }

.hidden-contact + p {
  font-size: 1rem !important; }

@media (min-width: 720px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(8rem, 45%));
    grid-gap: 1rem;
    align-items: center; }

  .grid-item-one {
    place-self: center; }

  .grid-item-two {
    place-self: center; } }
@media (max-width: 719px) {
  .flex {
    display: flex;
    justify-content: center; }

  .grid {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    justify-content: center; }

  .grid-item-one {
    grid-row: 2;
    place-self: center; }

  .grid-item-two {
    place-self: center;
    grid-row: 1; } }
