.nav-grid {
  display: none; }

.underline {
  text-decoration: none;
  background: linear-gradient(to bottom, rgba(124, 198, 254, 0) 75%, rgba(124, 198, 254, 0.7) 80%);
  border-radius: 3px;
  padding: 5px 5px 1px 5px;
  color: black;
  cursor: pointer; }

.welcome-container {
  margin-bottom: 4rem; }

ul {
  list-style: none; }

li {
  list-style: inline-block; }

.welcome-text {
  margin-left: 5%;
  min-width: 80%; }
  .welcome-text h3 {
    font-size: 4.875rem;
    margin-top: 0.9rem; }
  .welcome-text p {
    line-height: 2.5rem;
    font-size: 2rem; }

#footer {
  font-style: italic;
  font-size: 10px;
  text-align: center;
  position: relative;
  top: 40vh; }

#trigger {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
  text-align: center; }

#hidden {
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%; }

.hidden-contact + p {
  font-size: 1rem !important; }
