.journey-img, .wagon-img {
  width: 50%;
  height: auto;
  min-width: 7.5rem; }

.nav-grid li:nth-child(2n) {
  background: linear-gradient(to bottom, rgba(0, 189, 157, 0) 85%, rgba(0, 189, 157, 0.5) 70%);
  border-radius: 3px;
  color: black;
  cursor: none;
  z-index: 2; }

.projects {
  display: grid;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
  justify-content: center;
  grid-template-columns: minmax(23rem, 0.5fr);
  column-gap: 2%; }

.bg {
  background: linear-gradient(220deg, rgba(0, 189, 157, 0.4), rgba(0, 189, 157, 0.7));
  z-index: 2; }

.project {
  margin-bottom: 2.25rem;
  transition-duration: 0.5s; }

.card-head {
  border-radius: 3px 3px 0px 0px;
  background-position: center;
  height: 18rem;
  width: auto; }

#sticker-head {
  background-image: linear-gradient(190deg, rgba(243, 243, 72, 0.1), rgba(239, 14, 222, 0.2)), url("../images/sticker_2.png");
  background-size: cover; }

#journey-head {
  background-image: linear-gradient(10deg, rgba(88, 169, 30, 0.1), rgba(88, 169, 30, 0.2)), url("../images/journey_3.png");
  background-size: auto;
  background-repeat: no-repeat; }

#wagon-head {
  background-image: linear-gradient(10deg, rgba(222, 62, 55, 0.13), rgba(222, 62, 55, 0.15)), url("../images/lewagon-head.webp");
  background-size: cover; }

#volunteerus-head {
  background-image: linear-gradient(30deg, rgba(82, 222, 55, 0.15), rgba(82, 222, 55, 0.15)), url("../images/handsin.jpg");
  background-size: cover; }

.volunteer-us-img {
  height: auto;
  width: 75%; }

.section {
  display: flex;
  border-top: 1rem rgba(0, 189, 157, 0.1);
  border-bottom: 1rem rgba(0, 189, 157, 0.1);
  margin-bottom: 1rem;
  align-items: center; }

.section-title {
  padding-left: .2rem;
  max-width: 3rem;
  justify-content: center; }

.section-details {
  margin-left: 1rem;
  margin-right: .3rem; }

.tippy-qr {
  border: 1px dotted black;
  border-radius: 2px; }

.tippy-qr p {
  margin: 0rem;
  font-size: 1rem;
  font-style: italic; }

.skill-list {
  margin-left: 0.625rem; }

@media (hover: hover) {
  .project:hover {
    transition-duration: .1;
    transform: translate(0px, -18px);
    box-shadow: 0px 7px 0px 0px #02947b;
    border-radius: 0.4rem; } }
h3 {
  z-index: 1;
  padding-top: 0rem;
  color: white;
  text-shadow: 1px 1px 2px grey; }

.proj-icon {
  height: 2rem;
  width: 2rem;
  text-shadow: 1px 1px 2px grey; }

.project-title {
  display: flex;
  align-items: center;
  font-family: 'Lato';
  font-size: 1.5rem;
  display: flex;
  align-content: center;
  padding: 0rem;
  justify-content: center;
  margin-block-start: .1rem; }

.card-title {
  margin: .5rem; }

.project-description {
  grid-row: 3;
  grid-column: 1 / -1;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  transition: display;
  transition-duration: 0.5s;
  background: rgba(0, 189, 157, 0.1);
  background-size: 100%;
  height: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1.5s ease-in;
  -webkit-transition: max-height .5s; }

.uncollapse {
  max-height: 20rem;
  transition: max-height 1.5s ease-in-out; }
