.shadow-sticker, .shadow-journey, .shadow-wagon, .shadow-volunteer {
  border-radius: 0.5rem;
  transition-duration: .5s; }

.sticker-img, .journey-img, .wagon-img {
  width: 50%;
  height: auto;
  min-width: 7.5rem; }

.nav-grid li:nth-child(2n) {
  background: linear-gradient(to bottom, rgba(0, 189, 157, 0) 85%, rgba(0, 189, 157, 0.5) 70%);
  border-radius: 3px;
  color: black;
  cursor: none;
  z-index: 2; }

.projects {
  /* `````previous style````` */
  /*   padding-left: 15px;
    padding-right: 30px;
    display:flex;
    flex-direction: column;
    max-width: 1020px; */
  display: grid;
  margin: auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(21.25rem, 0.85fr));
  column-gap: 2%; }

.project {
  display: grid;
  grid-template-rows: minmax(2.5rem, 3.125rem) 1fr max-content;
  row-gap: 0.625rem;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  margin-bottom: 2.25rem; }

.mid-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.volunteer-us-img {
  height: auto;
  width: 75%; }

.mid-row .skill-list {
  margin-left: 0.625rem; }

@media (hover: hover) {
  .shadow-sticker:hover, .shadow-journey:hover, .shadow-wagon:hover, .shadow-volunteer:hover {
    transition-duration: .5;
    transform: translate(6px, -4px);
    transition-timing-function: ease-in-out; } }
.shadow-sticker {
  box-shadow: 0.08rem 0.06rem 0rem 0.1rem rgba(144, 19, 254, 0.7); }

.shadow-journey {
  box-shadow: 0.08rem 0.06rem 0rem 0.1rem rgba(255, 197, 61, 0.7); }

.shadow-wagon {
  box-shadow: 0.08rem 0.06rem 0rem 0.1rem rgba(194, 47, 47, 0.7); }

.shadow-volunteer {
  box-shadow: 0.08rem 0.06rem 0rem 0.1rem rgba(82, 190, 85, 0.7); }

h3 {
  z-index: 1;
  max-height: 6.25rem;
  padding-bottom: 1.25rem; }

.project-title {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  text-align: center;
  grid-column: 1/ -1;
  grid-row: 1;
  justify-content: center; }

.project-description {
  grid-row: 3;
  grid-column: 1 / -1;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125rem; }

.skill-list ul {
  list-style: none;
  border-left: 2px dotted black; }

.skill-list ul li {
  font-weight: bolder;
  margin-left: -1.5625rem;
  line-height: 1.25rem; }
