  <head>
     <%= stylesheet_link_tag "all", "index" %>
  </head>
  <body class="fade-in">

    <div class="welcome-container">

      <div class="welcome-text">
        <header >
         <h3>Dan Engel</h3>
        </header> 
        
        <div class="flex">
          <div class="grid">
            <div class="grid-item-one">
              <p>
                <a href="/projects" class="underline">Projects</a><br>
              </p>

              <p>
                <a href="/logs" class="underline">Blog</a> <br>
              </p>

              <p>
                <a class="underline"><label for="contact-show" >Contact Me
                </label></a>
              </p>
            </div>
            <div class="grid-item-two">
              <div class="tldr">
                <div class="tldr-container">
                  <a href="/logs/mentors">Love and appreciation for my mentors.</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

