  <head>
     <%= stylesheet_link_tag "all", "index" %>
  </head>
  <body class="fade-in">

    <div class="welcome-container">

      <div class="welcome-text">
        <h3>Dan Engel</h3>
        <div class="divider"></div>
        <p>
          <a href="/projects" class="underline">Projects</a><br>
        </p>

        <p>
          <a href="/article_index" class="underline">Bloggy Stuff</a> <br>
        </p>

        <p>
          <a class="underline"><label for="contact-show" >Contact Me
          </label></a>
        </p>
      </div>
    </div>
  </div>
  </body>

