  <head>
     <%= stylesheet_link_tag "all", "index" %>
  </head>
  <body class="fade-in">

    <div class="welcome-container">

      <div class="welcome-text">
        <h3>Dan Engel</h3>

        <p>
          <a href="/projects.html" class="underline">WeChat and Web Development Projects</a><br>
        </p>

        <p>
          <a href="/article_index.html" class="underline">Articles and Ideas</a> <br>
        </p>

        <p>
          <a class="underline"><label for="contact-show" >Contact Info
          </label></a>
        </p>
      </div>
    </div>
  </div>
  </body>

