<!-- index.html.erb -->
  <head>
     <%= stylesheet_link_tag "all", "index" %>
  </head>
  <body class="fade-in">

    <div class="welcome-container">

      <div class="welcome-text">
        <h3>Dan Engel</h3>
        <h4>~~~~~~~~~~~</h4>
        <p><a href="/projects.html" class="underline">WeChat and Web Development</a><br></p>
        <p>
        <a href="/article_index.html" class="underline">Tools and resources</a> <br></p>

         <p>
          <label for="contact-show" class="underline">E-mail or WeChat Me
          </label>
        </p>
        </div>
    </div>


          <!-- - - - - - Footer Left -->
    <!--   <div class="footer-container">

        <label class="footer-label" id="contact-info" for="contact-show">
        <h4 id="footer-contact-button">Contact Dan</h4>
      </label> -->

      </div>










    <!-- <div id="footer">
      <div id="trigger">
        Click for my e-mail and WeChat QR code
      </div>
      <div id="hidden">
        <div>
          <img src="" style="width: 200px; height: 200px">
          <p>dengel29@gmail.com</p>
        </div>
      </div>
    </div> -->
  </body>

