<!-- index.html.erb -->
  <head>
     <%= stylesheet_link_tag "all", "index" %>
  </head>
  <body class="fade-in">

    <div class="welcome-container">

      <div class="welcome-text">
        <h3>Hi, I’m Dan</h3>
        <h4>~~~~~~~~~~~</h4>
        <p>I work on <a href="/projects.html">WeChat and web projects</a> in China.<br></p>
        <p>
        I sometimes write about <a href="/article_index.html">tools and resources</a> that I use.<br></p>

         <p>
           Feel free to poke around and <label for="contact-show" class="underline">get in touch
          </label>
        </p>
        </div>
    </div>


          <!-- - - - - - Footer Left -->
    <!--   <div class="footer-container">

        <label class="footer-label" id="contact-info" for="contact-show">
        <h4 id="footer-contact-button">Contact Dan</h4>
      </label> -->

      </div>










    <!-- <div id="footer">
      <div id="trigger">
        Click for my e-mail and WeChat QR code
      </div>
      <div id="hidden">
        <div>
          <img src="" style="width: 200px; height: 200px">
          <p>dengel29@gmail.com</p>
        </div>
      </div>
    </div> -->
  </body>

