  <head>
     <%= stylesheet_link_tag "all", "index" %>
  </head>
  <body class="fade-in">

    <div class="welcome-container">

      <div class="welcome-text">
        <header>
          <h3>Dan Engel</h3> 
          <div class="divider"></div>
        </header> 
        <div class="flex">
          <div class="grid">
            <div class="grid-item-one">
              <p>
                <a href="/projects" class="underline">Projects</a><br>
              </p>

              <p>
                <a href="/logs" class="underline">Blog</a> <br>
              </p>

              <p>
                <a class="underline"><label for="contact-show" >Contact Me
                </label></a>
              </p>
            </div>
            <div class="grid-item-two">
              <p>
                [Latest Post]<br><a href="/logs/values">There are some things I probably won't put on my LinkedIn.</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

