
<head>
  <link rel="stylesheet" href="stylesheets/projects.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600" rel="stylesheet">
</head>
<body>
  <div class="projects">
    <!-- one single project -->
    <div class="project" id="project-sticker">
      <div class="card-head bg" id="sticker-head">
        <div class="project-title">
          <img class="proj-icon" src="../images/sticker-logo.png"><h3 class="card-title">StickerMachine</h3>
        </div>

      </div>

      <div class="project-description">
        <div class="section">
          <div class="section-title">
            Tech Used
          </div>
          <div class="section-details skill-list">
            <% skills = ["WeChat", "ES6", "Ruby on Rails", "Redis", "Dokku", "i18n", "Project Management"]  %>
            <% skills.each do |skill|  %>
            | <%= skill  %> |
            <% end%>
          </div>
        </div>
        <div class="section">
          <div class="section-title">
            Brief
          </div>
          <div class="section-details">
            This WeChat miniprogram is a GIF (or "sticker") search engine utilizing the Giphy API.
          </div>
        </div>

        <div class="section">
          <div class="section-title">
            Links
          </div>
          <div class="section-details">
            <a href="http://dan-engel.fyi/logs/wechat-censorship.html">Using Tencent's Censorship API</a> | <a href="https://www.youtube.com/watch?v=LnJNU5GrPpQ">Promo Video</a> | <a href="http://thegraceyang.com/projects/sticker-machine.html">Designing The App</a>
          </div>
        </div>
      </div>

    </div> <!-- end of individual project -->

    <div class="project" id="project-journey">
      <div class="card-head" id="journey-head">

        <div class="project-title">
          <img class="proj-icon" src="../images/journey-logo.svg"><h3 class="card-title">Journey Into Chengdu</h3>
        </div>
      </div>


      <div class="project-description">
        <div class="section">
          <div class="section-title">
            Tech Used
          </div>
          <div class="section-details skill-list">
            <% skills = ["Tencent Maps", "ES6", "Ruby on Rails", "WXML/WXSS", "PostGIS"]  %>
            <% skills.each do |skill|  %>
            | <%= skill  %> |
            <% end%>
          </div>
        </div>
        <div class="section">
          <div class="section-title">
            Brief
          </div>
          <div class="section-details">
            This miniprogram turns city exploration into a game, uncovering your city as you traverse it, similar to the "fog of war" feature in video games.
          </div>
        </div>

        <div class="section">
          <div class="section-title">
            Links
          </div>
          <div class="section-details">
            <a href="http://dan-engel.fyi/logs/journey-chengdu.html">Winning A Hackathon</a> | <a href="https://www.youtube.com/watch?v=jNQcDpv_7ao">Promo Video</a> |  <a href="https://mp.weixin.qq.com/s/x5X7dCA_kdx_tkw4XcniNA">FCC Hackathon Review</a>
          </div>
        </div>
      </div>
    </div> <!-- end of individual project -->

    <div class="project" id="project-wagon">
      <div class="card-head" id="wagon-head">
        <div class="project-title">
          <img class="proj-icon" src="../images/wagon.png"><h3 class="card-title">Le Wagon</h3>
        </div>
      </div>


      <div class="project-description">
        <div class="section">
          <div class="section-title">
            Skills Used
          </div>
          <div class="section-details skill-list">
            <% skills = ["Ruby on Rails", "PostGres", "sqlite", "Sinatra", "ActiveRecord"]  %>
            <% skills.each do |skill|  %>
            | <%= skill  %> |
            <% end%>
          </div>
        </div>
        <div class="section">
          <div class="section-title">
            Brief
          </div>
          <div class="section-details">
            Le Wagon is the #1 rated code bootcamp in the world. I teach the OOP and database modules of bootcamp.
          </div>
        </div>

        <div class="section">
          <div class="section-title">
            Links
          </div>
          <div class="section-details">
            <a href="">Teaching At Le Wagon (WIP)</a> | <a href="https://www.coursereport.com/schools/le-wagon">Reviews of Le Wagon</a> |  <a href="https://lewagon.com">Le Wagon Homepage</a>
          </div>
        </div>
      </div>
    </div> <!-- end of individual project -->

    <div class="project" id="project-volunterus">
      <div class="card-head" id="volunteerus-head">
        <div class="project-title">
          <img class="proj-icon" src="../images/volunteerus-logo.png"><h3 class="card-title">VolunteerUs</h3>
        </div>
      </div>


      <div class="project-description">
        <div class="section">
          <div class="section-title">
            Skills Used
          </div>
          <div class="section-details skill-list">
            <% skills = ["TDD", "Custom QR Codes", "Ruby on Rails", "SMS Notifications", "User Auth", "REST API"]  %>
            <% skills.each do |skill|  %>
            | <%= skill  %> |
            <% end%>
          </div>
        </div>
        <div class="section">
          <div class="section-title">
            Brief
          </div>
          <div class="section-details">
            VolunteerUs is a desktop and mobile platform to help event organizers find volunteers.
          </div>
        </div>

        <div class="section">
          <div class="section-title">
            Links
          </div>
          <div class="section-details">
            <a href="">Teaching At Le Wagon (WIP)</a> | <a href="https://www.coursereport.com/schools/le-wagon">Reviews of Le Wagon</a> |  <a href="https://lewagon.com">Le Wagon Homepage</a>
          </div>
        </div>
      </div>
    </div> <!-- end of individual project -->

  <script type="text/javascript" src="../javascripts/projects.js"></script>
</body>
